/* Main Container */
#main-container {
    width: 1250px;
    height: 700px;
    margin: 0 auto;
    background-color: #e7e5df; /* creamy beige */
    border-radius: 12px;
    box-shadow: 0px 4px 1px rgba(0,0,0,0.25);
    position: relative;
}

/* Map Visualization */
#mapDiv {
    position: absolute;
    left: 104px;
    top: 20px;
    border-radius: 12px;
    overflow: hidden;
}

/* Options Panel */
#options-panel {
    position: absolute;
    left: 959px;
    top: 20px;
    width: 219px;
    height: 613px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: inset 0px 4px 1px rgba(0,0,0,0.25);
    padding: 20px;
}

.options-title {
    font-weight: 800;
    font-size: 25px;
    color: #000;
    margin-bottom: 20px;
}

.filter-option {
    margin-bottom: 15px;
}

.filter-option input[type="checkbox"] {
    display: none;
}

.filter-option label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.filter-indicator {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 1px solid #000;
    margin-right: 8px;
    position: relative;
}

.filter-option input[type="checkbox"]:checked + label .filter-indicator::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.filter-label {
    font-weight: 800;
    font-size: 20px;
    color: #000;
    margin-right: auto;
}

.filter-checkbox {
    width: 13px;
    height: 13px;
    border-radius: 2px;
}

.filter-checkbox.fatal   { background-color: rgba(226,55,55,0.76); }
.filter-checkbox.major   { background-color: rgba(237,119,55,0.8); }
.filter-checkbox.minor   { background-color: rgba(237,225,55,0.8); }
.filter-checkbox.minimal { background-color: rgba(128,128,128,0.8); }

/* Timeline Slider */
#timelineDiv {
    position: absolute;
    left: 112px; /* match map left edge */
    top: 640px;
    width: 829px; /* match map width */
    height: 60px;
}

/* Play Button */
#playButton {
    display: block;
    width: 100%;
    padding: 10px;
    font-weight: 700;
    border-radius: 8px;
    background-color: #e0dad5;;
    border: 1px solid #d0cdc7;;
    color: #000;
    transition: background-color 0.2s ease;
}

#playButton:hover {
    background-color: rgba(220, 207, 186, 0.78);
}

/* Body styling */
body {
    margin: 0;
    font-family: 'Overpass', sans-serif;
    background-color: #f5f5f5;
}

/* Crash points */
.crash-point {
    cursor: pointer;
}

.crash-point:hover {
    opacity: 1 !important;
    stroke-width: 2px;
}
